*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}
.header {
    position: fixed;
    width: 100%;
    transition: translate 0.3s ease-in-out;
}
.header__promotion {
    background-color: #08C380;
    padding: 20px;
    text-align: center;
}
.header__promotion-text {
    font-size: 22px;
}
.header__nav {
    display: flex;
    background-color: #111717;
    padding: 20px 40px;
}
.header__logo,
.header__link {
    color: #f1f1f1;
    text-decoration: none;
}
.header__logo {
    font-size: 32px;
}
.header__links-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header__link {
    margin: 0 5px;
    font-size: 20px;
}
.content-section {
    padding: 200px 20px 80px;
    margin: 0 auto;
    max-width: 600px;
}
.content-section__title {
    margin-bottom: 20px;
}